body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #042940;
    color: #fff;
}

header {
    background-color: #005C53;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #9FC131;
}

main {
    padding: 20px;
}

.about, .services {
    margin-bottom: 30px;
    background-color: #005C53;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h2, .services h2 {
    color: #fff;
}

.about p, .services ul {
    color: #fff;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #005C53;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}